$background-color: #280f6a;

// Homepage Button Gradient Colors
$new-game-button-bck: rgb(133,95,255);
$new-game-gradient: linear-gradient(90deg, rgba(133,95,255,1) 0%, rgba(79,24,255,1) 100%);
$join-game-button-bck: rgb(255,95,174);
$join-game-gradient: linear-gradient(90deg, rgba(255,95,174,1) 0%, rgba(117,15,136,1) 100%);
