@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');
@import "../node_modules/bootstrap/scss/bootstrap";
@import './variables';
@import './pages/Homepage/homepage';

body {
  background-color: $background-color;
  background-image: url('./images/background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: 'Bai Jamjuree', sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
}