#lobby {
  h3 {
    text-align: center;
    color: white;
  }
}

.ready-button {
  font-size: 2rem;
  color: white;
  padding:1rem;
  margin: 10px 0;
  text-align: center;
  display: inline-block;
  width: 80%;
  border-radius: 100px;
  background: $new-game-button-bck;
  background: $new-game-gradient;
}

.ready-button:hover {
  color: white;
}