#game-room {
  height: 100vh;
  p {
    text-align: center;
  }

  h3 {
    font-weight: 400;
  }

  @media (max-width: 500px) {
    overflow-y: scroll;
  }
}

.theme-planet-1 {
  background-color: rgba(79, 99, 146, 0.5); 
  z-index: 0;

  button {
    background: rgb(15,27,108);
    background: linear-gradient(0deg, rgba(15,27,108,1) 0%, rgba(6,142,252,1) 100%);
  }

  transition: background-color 1s ease;
}

.theme-planet-2 {
  background-color: rgb(255,60,90,0.5);
  z-index: 0;

  button {
    background: rgb(203,0,105);
    background: linear-gradient(0deg, rgba(203,0,105,1) 0%, rgba(255,60,90,1) 100%);
  }

  transition: background-color 1s ease;
}

.theme-planet-3 {
  background-color: rgba(78,0,114,0.5);
  z-index: 0;

  button {
    background: rgb(78,0,114);
    background: linear-gradient(0deg, rgba(78,0,114,1) 0%, rgba(177,21,255,1) 100%);
  }
  transition: background-color 1s ease;
}

.planets {
  @media (max-width: 500px) {
    display: none;
  }
  height: 200px;
  img {
    position: absolute;
  }
  .position1 {
    width: 75px;
    top: 25px;
    left: calc(75% - 37.5px);
    z-index: 2;
    animation-name: position1-2;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
  }
  .position2 {
    width: 125px;
    top: 50px;
    left: calc(50% - 62.5px);
    z-index: 3;
    animation-name: position2-3;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
  }
  .position3 {
    width: 75px;
    top: 25px;
    left: calc(25% - 37.5px);
    z-index: 1;
    animation-name: position3-1;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
  }

  .planet-select {
    position: absolute;
    width: 125vw;
    height: 125vw;
    left: -12.5vw;
    top: -112.5vw;
    border-radius: 50%;
    border: solid 5px;
  }

  .planet-select-blue {
    border-color: #068efc !important;
    transition: border-color 2s;
  }

  .planet-select-pink {
    border-color: #ff3c5a !important;
    transition: border-color 2s;
  }

  .planet-select-purple {
    border-color: #b115ff !important;
    transition: border-color 2s;
  }
}

@keyframes position1-2 {
  0%   {left: calc(75% - 37.5px); width: 75px; 
    top: 25px;}
  100% {left: calc(50% - 62.5px); width: 125px; 
    top: 50px;}
}

@keyframes position2-3 {
  0%   {left: calc(50% - 62.5px); width: 125px; top: 50px;}
  100% {left: calc(25% - 37.5px); width: 75px; top: 25px;}
}

@keyframes position3-1 {
  0%   {left: calc(25% - 37.5px); width: 75px; top: 25px;}
  100% {left: calc(75% - 37.5px); width: 75px; top: 25px;}
}